{% extends 'baseadmin.html.twig' %}

{% block title %}Añadir tipo de receta {% endblock %}
{% block stylesheets %}
{{ parent() }}
	<link href="{{ asset('css/form.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<!-- Main Content -->
        <div class="container-fluid">
                <div class="side-body">
                    <div class="page-title">
                        <span class="title">TIPOS DE RECETAS</span>
                        <div class="description"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">Añadir nuevo tipos de receta
                                            <a href="{{ path('App_admin_listTipoReceta')}}">
                                                <span class="glyphicon glyphicon-arrow-up"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="card-body">
                                       {% include "AdminBundle:TipoReceta:form.html.twig" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div>
{% endblock %}