{% extends 'baseuser.html.twig' %}
{% block stylesheets %}

{% block title %}Eat&Fit{% endblock%}
{{ parent() }}

{% endblock %}

{% block head %}
	
{% endblock %}

{% block body %}



<!--content-->
<div class="blog">
	<div class="container">
		<div class="menu-top">
			<div class="col-md-8 menu-left">
				<h3>{% block head2 %} {% endblock %}</h3>
				<label><i class="glyphicon glyphicon-menu-up"></i></label>
				<span></span>
			</div>
			<div class="clearfix"> </div>
		</div>

		{% block body2 %} {% endblock %}
		<div class="col-md-3 categories-grid">

				
				{% block body3 %} {% endblock %}
				
		</div>
		<div class="clearfix"> </div>
	</div>
</div>

</div>
<!--//content-->

{% endblock %}