<h2>El menú seleccionado tiene las siguientes recetas: </h2>
<hr>
<ol>
		{% set calorias = 0 %}
        {% for receta in recetas %}
                <h3><li>{{receta.nombre}} ({{receta.calorias/receta.numeroComensales}} cal/persona)</li> </h3>
                {% set calorias = calorias + (receta.calorias/receta.numeroComensales) %}                           
        {% endfor %}	   		
</ol>
<hr>
<h3>Total de calorias: <strong>{{calorias}}</strong> cal/persona</h3>